@model Apriorit.HierarchyStructure.Mvc.Models.FoldersViewModel
<!DOCTYPE html>
<head>
</head>
<body>
    <h2>@Model.CurrentFolder</h2>
    <hr>
    @{
        foreach (var subFolder in Model.SubFolders)
        {
            <a href="@subFolder.Link">@subFolder.Name</a>
            <br />
        }
    }
</body>